<div class="request-password-reset-container">
  <mat-card class="animated fadeIn">
    <mat-card-title i18n>Request Password Reset</mat-card-title>
    <mat-card-content>
      <form *ngIf="!requested" [formGroup]="requestPasswordResetForm" (ngSubmit)="onSubmit()">
        <p i18n>
          Please enter your e-mail address so that we can send you a reset link.
        </p>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" i18n-placeholder formControlName="email" required>
          <mat-error>
            <div *ngIf="submitted && form.email.errors && form.email.errors.email" class="invalid-feedback" i18n>
              Email must be a valid email address
            </div>
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="error" class="error">
          {{ error }}
        </mat-error>
        <div class="button-container">
          <button type="submit" mat-stroked-button color="accent" i18n>Send Password Reset Link</button>
        </div>
      </form>
      <p *ngIf="requested" i18n>
        The request to change the password has been sent. Please check your e-mail inbox.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent" routerLink="/login" i18n>Back to Login</button>
    </mat-card-actions>
  </mat-card>
</div>
