.quick-panel-container {
  height: 100%;
  max-width: 500px;
  width: 500px;

  mat-tab-group {
    height: 100%;
    overflow-y: hidden;

    .mat-tab-body-wrapper {
      mat-tab-body {
        .mat-tab-body-content {
          overflow-y: hidden;
        }
      }
    }
  }
}
