.reset-password-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card {
    width: 300px;

    mat-card-title,
    mat-card-content {
      display: flex;
      justify-content: initial;
      width: 100%;

      form {
        width: 100%;

        mat-form-field {
          width: 100%;
        }
      }
    }

    .error {
      color: #f44336;
    }
    .button-container {
      margin-top: 5px;
    }
  }
}
