<div class="reset-password-container">
  <mat-card class="animated fadeIn">
    <mat-card-title i18n>Reset your Password</mat-card-title>
    <mat-card-content>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <p i18n>
          Please choose a new password and confirm it
        </p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" i18n-placeholder formControlName="password" required>
          <mat-error>
            <div *ngIf="submitted && form.password.errors" class="invalid-feedback" i18n>
              Password must have minimum 8 characters
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm Password" i18n-placeholder formControlName="passwordConfirm" required>
          <mat-error>
            <div *ngIf="submitted && form.passwordConfirm.errors" i18n>
              Password not confirmed
            </div>
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="error" class="error">
          {{ error }}
        </mat-error>
        <div class="button-container">
          <button type="submit" mat-stroked-button color="accent" i18n>Set Password</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
