.admin-container {
  mat-card {
    margin-bottom: 20px;

    mat-card-content {
      overflow: initial !important;
      height: auto;

      button {
        margin-right: 5px;
      }
    }
  }
}
