<div class="games-container animated fadeIn">
  <mat-card>
    <mat-card-title i18n>Games</mat-card-title>
    <div class="edit-create-buttons" *ngIf="isAdmin">
      <button mat-stroked-button color="accent" [routerLink]="'/game/create'" i18n>Create</button>
    </div>
    <mat-card-content>
      <mat-form-field class="filter-field">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" i18n-placeholder>
      </mat-form-field>
      <table  mat-table [dataSource]="dataSource" matSort matSortActive="Name" matSortDirection="asc">
        <ng-container matColumnDef="Image">
          <th mat-header-cell *matHeaderCellDef i18n>Image</th>
          <td mat-cell *matCellDef="let element">
            <img *ngIf="element.image" [src]="element.image" [routerLink]="'/game/view/' + element.id" alt="Game Cover">
            <img *ngIf="!element.image" src="../../../../assets/media/No_image_available.png" [routerLink]="'/game/view/' + element.id" alt="No Image Available">
          </td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Name</th>
          <td mat-cell *matCellDef="let element"><a mat-button color="accent" [routerLink]="'/game/view/' + element.id">{{element.name}}</a></td>
        </ng-container>
        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Type</th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
        <ng-container matColumnDef="Genre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Genre</th>
          <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
        </ng-container>
        <ng-container matColumnDef="Details">
          <th mat-header-cell *matHeaderCellDef i18n>Details</th>
          <td mat-cell *matCellDef="let element"> <button type="button" mat-stroked-button color="accent" [routerLink]="'/game/view/' + element.id" matTooltip="View" i18n-matTooltip><i class="fas fa-info"></i></button> </td>
        </ng-container>
        <ng-container matColumnDef="Edit" *ngIf="isAdmin">
          <th mat-header-cell *matHeaderCellDef i18n>Edit</th>
          <td mat-cell *matCellDef="let element"> <button type="button" mat-stroked-button color="accent" [routerLink]="'/game/edit/' + element.id" matTooltip="Edit" i18n-matTooltip><i class="fas fa-edit"></i></button> </td>
        </ng-container>
        <ng-container matColumnDef="Edit" *ngIf="!isAdmin">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="Remove" *ngIf="isAdmin">
          <th mat-header-cell *matHeaderCellDef i18n>Remove</th>
          <td mat-cell *matCellDef="let element"> <button type="button" mat-stroked-button color="accent" (click)="removeGame(element)" matTooltip="Remove" i18n-matTooltip><i class="fas fa-trash-alt"></i></button> </td>
        </ng-container>
        <ng-container matColumnDef="Remove" *ngIf="!isAdmin">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>




