<div class="change-password">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" fxFlex="100%">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
      <mat-form-field>
        <input type="password" matInput placeholder="Current Password" formControlName="currentPassword" i18n-placeholder required>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
      <mat-form-field>
        <input type="password" matInput placeholder="New Password" formControlName="newPassword" i18n-placeholder required>
        <mat-error>
          <div *ngIf="submitted && form.newPassword.errors" class="invalid-feedback" i18n>
            Password must have minimum 8 characters
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" i18n-placeholder required>
        <mat-error>
          <div *ngIf="submitted && form.confirmPassword.errors" i18n>
            Password not confirmed
          </div>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="button-container">
      <mat-error *ngIf="error" class="error">
        {{ error }}
      </mat-error>
      <button type="submit" mat-stroked-button color="accent" i18n>Save</button>
    </div>
  </form>
</div>
